nltk
tqdm
six
scikit-learn
pathlib
configargparse
bottle
ujson
GPUtil
coloredlogs
inflect
unidecode
psutil
wandb
rouge_score
sacrebleu
tagme
wikipedia-api
gradio
tensorflow
pytorch-lightning==1.0.4
allennlp==1.2.2
allennlp-models==1.2.2
transformers==3.5.1
torch==1.7.1
datasets
huggingface_hub
prettytable