nltk
tqdm
six
scikit-learn
pathlib
configargparse
bottle
ujson
GPUtil
networkx
coloredlogs
inflect
unidecode
psutil
rouge
wikimapper
wandb
rouge_score
sacrebleu
wikipedia-api
tagme
spacy==2.2.4
tensorflow-gpu==2.2.0
pytorch-lightning==1.0.4
datasets
allennlp==1.2.2
allennlp-models==1.2.2
transformers==3.5.1
torch==1.7.1
accelerate